@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(
    180deg,
    rgba(17, 24, 39, 1) 0%,
    rgba(11, 38, 79, 1) 100%
  );

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
  box-sizing: border-box;
  background-image: linear-gradient(
    to bottom right,
    #222831,
    #414b55,
    #606b7a,
    #7d8a9f,
    #99a7c4
  );
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #00eaa8;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.navbar-buttons {
  display: flex;
  align-items: center;
}

.navbar-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  background-color: transparent;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

.navbar-button:hover {
  border-color: #00eaa8;
}

.navbar-button:focus,
.navbar-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.navbar-button.active {
  border-color: #00eaa842;
}

iframe {
  overflow: hidden;
}

.desktop-frame {
  width: 100vw;
  height: 100vh;
}

.desktop-border {
  border-width: 35px 12px 32px;
  outline: 1px solid black;
  border-style: solid;
  border-color: #4d4d4d;
  box-shadow: 0 3px 7px rgba(5, 5, 6, 0.5);
}
.tablet-border {
  border-top: 52.5px solid #4d4d4d;
  border-right: 18px solid #4d4d4d;
  border-bottom: 18px solid #4d4d4d;
  border-left: 18px solid #4d4d4d;
  border-radius: 20px;
}
.iphone-border {
  border-top: 28.5px solid #4d4d4d;
  border-right: 9px solid #4d4d4d;
  border-bottom: 20px solid #4d4d4d;
  border-left: 9px solid #4d4d4d;
  border-radius: 20px;
}

.settings-menu {
  position: absolute;
  top: 53px;
  right: 0;
  width: 280px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #1a202c; /* change background color */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.281);
  border: 2px solid;
  border-color: #00eaa8c0;
  border-radius: 0.5rem;
  z-index: 10;
}

.settings-menu-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.settings-menu-item label {
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.settings-menu-item input {
  border: 1px solid #d2d6dc;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: #1a202c;
  background-color: #ffffff;
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.05);
}

/* Hide scrollbar for Chrome, Safari and Opera */
-webkit-scrollbar {
  display: none !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}

.scale-box {
  transform: scale(0.85);
}
